/* Put your CSS here */
body
{
    background-color: Black;
}

table.scroll {
    width: 100%;
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100%);
    width:    -moz-calc(100%);
    width:         calc(100%);
}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td.numeric,
table.scroll thead th.numeric {
    width: 8%;
    float: left;
    border-right: 1px solid white;
}

table.scroll tbody td.text,
table.scroll thead th.text {
    width: 30%;
    float: left;
    border-right: 1px solid white;
}

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

tbody { border-top: 2px solid white; }

tbody td:last-child, thead th:last-child {
    border-right: none !important;
}