<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/libs/jquery-1.11.0.js"></script>
        <script src="../staticjs/libs/bootstrap.min.js"></script>
        <script src="../staticjs/libs/moment.min.js"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h2>Maine FLL Championship</h2>
                <h5 id="lastUpdate">Today just now...</h5>
                <div id="teams">
                    <table class="table table-striped scroll">
                        <thead>
                            <th class="numeric">Number</th>
                            <th class="text">Name</th>
                            <th class="text">Affiliation</th>
                            <th class="numeric">Round 1</th>
                            <th class="numeric">Round 2</th>
                            <th class="numeric">Round 3</th>
                            <th class="numeric">Best</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="numeric">1234</td>
                                <td class="text">Team 1234</td>
                                <td class="text">School 1234</td>
                                <td class="numeric">10</td>
                                <td class="numeric">20</td>
                                <td class="numeric">30</td>
                                <td class="numeric">30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
